<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>tag</key>
			<string>Green</string>
			<key>fileName</key>
			<string>TileGreen1</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Blue</string>
			<key>fileName</key>
			<string>TileBlue1</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Yellow</string>
			<key>fileName</key>
			<string>TileYellow1</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Snow</string>
			<key>fileName</key>
			<string>TileSnow1</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Red</string>
			<key>fileName</key>
			<string>TileRed1</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Purple</string>
			<key>fileName</key>
			<string>TilePurple1</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Purple</string>
			<key>fileName</key>
			<string>TilePurple1</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>tag</key>
			<string>Item1</string>
			<key>fileName</key>
			<string>Item1</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Item2</string>
			<key>fileName</key>
			<string>Item2</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Item3</string>
			<key>fileName</key>
			<string>Item3</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Item4</string>
			<key>fileName</key>
			<string>Item4</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Item5</string>
			<key>fileName</key>
			<string>Item5</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Item6</string>
			<key>fileName</key>
			<string>Item6</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>tag</key>
			<string>Object1</string>
			<key>fileName</key>
			<string>Object1</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Object2</string>
			<key>fileName</key>
			<string>Object2</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Object3</string>
			<key>fileName</key>
			<string>Object3</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Object4</string>
			<key>fileName</key>
			<string>Object4</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Object5</string>
			<key>fileName</key>
			<string>Object5</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>Object6</string>
			<key>fileName</key>
			<string>Object6</string>
		</dict>
	</array>
</array>
</plist>
